extends layout.pug

block number1
    if error
        p.error Please fill both inputs!

    if success
        p.success Task has been created successfully!

    if deleted 
        p.deleted Deleted successfully!

    form(action="/create" method="POST")
        div.container
            input.input-task(type="text" placeholder="Add Task title" name="taskTitle")
            button.btn Create
        input.input-description(type="text" placeholder="Add Task description" name="taskDescription")

    div.tasks
        if (tasks.length)  
            each task in tasks
                if task.isActive
                    div.card
                        div.content
                            p.task-title-para #{task.taskTitle}
                            p.task-description-para #{task.taskDescription}
                        a.delete(href=`/${task.id}/delete`) ❌Delete
                        a.completeBtn(href=`/${task.id}/complete`) ✅Complete 
                else
                    div.card.completed
                        div.content
                            p.task-title-para #{task.taskTitle}
                            p.task-description-para #{task.taskDescription}
                        a.delete(href=`/${task.id}/delete`) ❌Delete
                        a.completeBtn(href=`/${task.id}/incomplete`) ↩️Incomplete
        else
            p.task-description-para There is no task yet!